{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">             
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 bg-dark">    <!--h-100 refers to the height of the image, bootstrap-->
            <div class="col-5 my-auto bg-dark">
                <h1 class="display-4 logo-font text-medcol text-right">
                    Scenes
                </h1>
                <div class="div my-5 text-right">   <!-- my-5 ref margins bootstrap-->
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Start Writing</a>    <!--more bootstrap-->
                    </h4>
                </div>
            </div>
            <div class="col-2 my-auto bg-light">
                <h1 class="display-4 logo-font text-dark text-center">
                   &
                </h1>
                <div class="div my-5">   <!-- my-5 ref margins bootstrap-->
                </div>
            </div>
            <div class="col-5 my-auto bg-dark">
                <h1 class="display-4 logo-font text-medcol">
                    Sundries
                </h1>
                <div class="div my-5">   <!-- mtext-medcolrgins bootstrap-->
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Visit Store</a>    <!--more bootstrap-->
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}