/* Base CSS File */
html {
    height: 100%;
    background: black;
}

body {
    background: #00000000;    /*fixing a tendency towards a white background when it's removed*/
    background-size: cover;
    height: calc(100vh - 164px);
    color: #ff671b;
    font-family: 'Lato';
    margin: 0;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;                             
}

.link {
    width: fit-content;
}

.text-light {
    color: #fee9d9 !important;
}

.text-medcol {
    color: 	#ff671b !important;
}

.text-lightblu {
    color: #30ecff;
}

.border-light {
    border: 1px solid #ffd995 !important;
}

.text-dark {
    color: #3d1302;
}

.bg-light {
    background: #fee9d9 !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #fee9d9 !important;
    color: #3d1302 !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid #ffd995;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
/*--------------------------------- Header and intro */

.bg-dark-trans {
    background-color: #343a40ab;
}

.fox-icon {
    height: 1.75rem;
    width: 1.75rem;
}

.dd-menu-ul {
    padding: 0;
}

.main-header-link {
    text-decoration: none;
}

.main-header-link :hover {
    text-decoration: none;
}

.bag-ul {
    list-style-type: none;
}

.btn-intro {
    min-width: 250px;
}

/*--------------------------------- Story Starters */

.story-cont {
    padding: 0;
    margin: 0;
}

.blog-col {
    background-color: #0000008a;
}

.blog-row {
    margin-top: 8rem;
}

/*---------------------------------Canvas  */
/*---------------------------------//Based on https://codepen.io/b4rb4tron/pen/wjyXNJ */


.canvas-col {
    padding: 0;
}pip2

#canvas {
    margin: 0px;
    background-color: black;
    overflow: hidden;
    height: inherit;
}

/* -------------------------------- Media Queries */

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
    background-color: #28a745!important;
}

.btn-file input[type="file"] {
    top: 0;
    right: 0;
    width: 3rem;
    height: 1rem;
    opacity: 0;
    cursor: pointer;
    background-color: pink!important;
    border: 10px;
    border-color: orange;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .intro-cont {
    max-width: 70%;
}

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

.display-4.logo-font.text-medcolht {
    font-size: 2rem;
}

.nav-link {
    padding: 0.15rem;
}

.nav-link i.fa-lg {
    font-size: 1rem;
}

.navbar-toggler {
    padding: .6rem .6rem;
    font-size: 1rem;
}

#delivery-banner h4 {
    font-size: .9rem;
}

.btn.btn-info.,
.btn.btn-info. {
    padding: .375rem .375rem;
}

.btn.btn-info..btn-lg,
.btn.btn-info..btn-lg {
    padding: .375rem .375rem;
    font-size: .75rem;
}

.increment-qty, .decrement-qty {
    padding: .25rem .5rem !important;
}

a :hover {
    color: #25adbb;
}

/*-----------------------------------Left side Drop down menu--*/

.dd-menu {
    background-color: #25adbb;
    list-style-type: none;
    border-color: orange;
    border:2px;
}

    .dd-menu :hover{
    background-color: #ffffff;
    list-style-type: none;
    color: #17a2b8;
}

.dropdown-menu {
    background-color: #ff671b80;
}

/*-------------------------------------Checkout----*/

.checkout-info {
    background-color: #fff; 
}

/*-------------------------------------Product images-*/

.prod-img {
    height: 400px;
    width: 400px;
}