<li class="list-inline-item dropdown">
    <a class="text-lightblu nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="my-0 d-none d-md-block">My Account</p>
        </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        <ul>
            <li class="dd-menu text-center">
                <!-- if request.user.is_authenticated %}
                 if request.user.is_superuser %} -->
                <a href="#" class="dropdown-item"><h4>Add Post</h4><em>(Coming soon)</em></a>
                <hr>
                <a href="{% url 'add_product' %}" class="dropdown-item"><h4>Add Product</h4></a>
                <hr>
                <!-- endif %} -->
                <a href="{% url 'profile' %}" class="dropdown-item"><h4>My Profile</h4></a>
                <hr>
                <a href="{% url 'account_logout' %}" class="dropdown-item"><h4>Logout</h4></a>
                <hr>
                <!-- else %} -->
                <a href="{% url 'account_signup' %}" class="dropdown-item"><h4>Register</h4></a>
                <hr>
                <a href="{% url 'account_login' %}" class="dropdown-item"><h4>Login</h4></a>
                <!-- endif %} -->

            </li>
        </ul>
    </div>
</li>