{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}
<div class="row card text-center mb-4 mt-3">
    <div class="card-body">
        <hr>
        <h2>{% trans "Sign In" %}</h2>
        <hr>
    </div>
</div>

<div class="row card">
    <div class="card-body">
        <p>{% blocktrans %}If you have not created an account yet, then please
            <a class="text-info" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="btn btn-info " href="{% url 'home' %}">Home</a>
            <button class="btn btn-info primaryAction" type="submit">{% trans "Sign In" %}</button>
            <p class="mt-2">
                <a class="btn btn-info secondaryAction"
                    href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </p>
        </form>
    </div>
</div>

{% endblock %}