/*--------------------------------- Story Starters */

.story-cont {
    padding: 0;
    margin: 0;
}

.canvas-col {
    padding: 0;
}

.blog-col {
    background-color: #0000008a;
}

.container {
    max-width: 100%;
}