                    <li class="list-inline-item dropdown">
                        <a class="text-lightblu nav-link" href="#" id="#" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-bars fa-lg"></i></div>
                                <h4 class="my-0 d-none d-md-block">Menu</h4>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0">
                        
<!-- make nested ULs and Li for drop down side menu
Sionnach scenes
    Storystarters
        Add post if superuser
        otherwise/and SU view posts
        list categories if possible
    Sundries
        Add product if superuser
        otherwise and SU view products
            product categories
    My account options
        (same as my account? try to avoid repitition?)

-->
                        
                        
                        <ul>
                            <li>
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="#" class="dropdown-item">Add Post</a>
                            <a href="{% url 'add_product' %}" class="dropdown-item">Add Product</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                            </li>
                        </ul>
                        </div>
                    </li>